{% extends "template.html" %}{% block stylesheet %}<link
rel="stylesheet"
href="/static/css/index_styles.css"/>
{% endblock %} {% block body %}
<img class="saladbowl-logo" src="/static/images/saladbowl-logo.png" alt="Salad Bowl">
<div class='container-fluid'>
  <form action="" method="POST">
    <div class="form-group">
      <p>Enter Username here:</p>
      <input
        type="text"
        class="form-control"
        placeholder="Username"
        name="username"
      />
    </div>
    <div class="form-group">
      <p>Enter Room ID here:</p>
      <input type="text" class="form-control" placeholder="Room ID" name="room" />
    </div>
    <button class="btn btn-warning btn-lg" type="submit">Join</button>
  </form>
  <button id="showCreateRoom" class="mt-2 btn btn-warning btn-lg">Create a Room</button>

</div>

<div id="createRoom" class="hidden container-fluid">
  <form action="/create" method="POST">
    <div class="form-group">
      <p>Enter Username here:</p>
      <input
        type="text"
        class="form-control"
        placeholder="Username"
        name="username"
      />
    </div>
    <div class="form-group">
      <p>Enter Room ID here:</p>
      <input type="text" class="form-control" placeholder="Room ID" name="room" />
    </div>
    <div class="form-group">
      <p>Words per player:</p>
      <input type="number" class="form-control" placeholder="Words per player" name="wordsPerPlayer" min="3" max="10" value="3"/>
    </div>
    <div class="form-group">
      <p>Time per turn:</p>
      <select name="turnTimer" class="form-control">
        <option value="15">15</option>
        <option value="30">30</option>
        <option value="45">45</option>
        <option value="60">60</option>
      </select>
    </div>
    <button class="btn btn-warning btn-lg" type="submit">Create</button>
  </form>
</div>




{% with messages = get_flashed_messages() %}
  {% if messages %}
    <uls>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% endblock %} {% block script %}
<script>
  $("#showCreateRoom").click(function(){
    $("#createRoom").toggleClass("hidden");
    $(this).text($(this).text() == "Create a Room" ? "Close" : "Create a Room");
  })
</script>
 {% endblock %}
